@page "/"
@using System.Net.Http
@using DataObjects
@inject HttpClient Http

@if (cottages.Any())
{
    <ul>
        @foreach (var c in cottages)
        {
            <li>@c.Title</li>
        }
    </ul>
}

@code {
    private List<Cottage> cottages;

        protected override async Task OnInitializedAsync()
        {
            cottages = await Http.GetFromJsonAsync<List<Cottage>>("api/Cottage/all");
        }
}